.menu{
	position: fixed;
	top: 0;
	left: 0;

	width: 100px;
	height: 100%;

	background-color: #b1b1e6;
	transition: width;
	transition-duration: 1s;
}
.menu:hover{
	width: 230px;
}
.menu:hover a{
	color: black;
}
.menu a{
	display: block;
	background-color: #b1b1e6;
	color: rgba(0,0,0,0);
	text-decoration: none;
	border: 2px solid #1515bf;
	transition: color;
	transition-duration: 1s;
}
.menu a:hover{
	background-color: #d1d1d1;
}

.icons{
	width: 50px;
	border: 2px solid black;
}

.div{
		height: 1880px;
		width: 650px;
		background-color: white;
		margin: auto;
		border: 3px #1802a6 solid;
		padding: 10px;
	}

	body{
		background-color: #8c98e6;
	}
	
	
	h1{
		font-size: 40px;
		text-align: center;
	}

	.p-1{
	font-size: 15px;
	margin: 0;
}


.p-4{
	font-size: 15px;
	margin: 0;
	margin-bottom: 50px;
}

.icons-text{
	width: 13px;
}
.p-1{font-size: 20px}

.img{
	width: 270px;
	border: 3px #8c98e6 solid;
	display: inline-block;
	align-items: center;
	

}

.div-vhod{
	position: absolute;
	top: 0;
	right: 0;

	background-color: #b1b1e6;
	border: 2px solid #1515bf;

	width: 200px;
	height: 230px;
}

.h2-vhod{
	text-align: center;
}

.p-2{
	border-bottom: 1px solid black;
}

.button{
	display: block;
	margin-top: 10px;
	width: 50px;
}
